<div class="block">
  <div class="content">
    <div class="page_header">
      <div class="page_header_links">
        <a href="#">New message</a> |
        <a href="#">New to-do list</a> |
        <a href="#">New milestone</a>
      </div>
      New <%= model_name %>
    </div>
    <div class="inner">
      <%% form_for :<%= model_name.downcase  %>, :url => <%= controller_routing_path %>_path, :html => { :class => :form } do |f| -%>
        <% columns.each do |column| %>
          <div class="group">
            <%%= f.label :<%= column.name %>, "<%= column.name %>", :class => :label %>
            <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
            <span class="description">Ex: a simple text</span>
          </div>
        <%- end -%>        
        <div class="group navform">
          <input type="submit" class="button" value="Save &rarr;" /> or <%%= link_to 'Cancel', <%= controller_routing_path %>_path %>
        </div>
      <%% end -%>
    </div>
  </div>
  <div class="bottom">&nbsp;</div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>