<div class="block">
  <div class="content">
    <div class="page_header">
      <div class="page_header_links">
        <a href="#">New message</a> |
        <a href="#">New to-do list</a> |
        <a href="#">New milestone</a>
      </div>
      All <%= plural_model_name %>
    </div>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
					<% unless columns.empty? -%>
					<th><%= columns.first.name.capitalize %></th>
					<% end -%>
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
        <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
        <tr class="<%%= cycle("odd", "even") %>">
          <td>
            <%%= <%= resource_name %>.id %>
          </td>
					<% unless columns.empty? -%>
					<td>
						<%%= link_to <%= resource_name %>.<%= columns.first.name %>, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %>
					</td>
					<% end -%>
					<td>
            <%%= <%= resource_name %>.created_at %>
          </td>
          <td class="last">
            <%%= link_to 'show', <%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <%%= link_to 'edit', edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <%%= link_to 'destroy', <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        </tr>          
        <%% end -%>
      </table>
      <div class="actions-bar">
        <div class="actions">
        </div>
        <% if options[:will_paginate] %>
        <%%= will_paginate @<%= resource_name %>  %>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="bottom">&nbsp;</div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>